!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22966123-1']);
      _gaq.push(['_setDomainName', '.alanfoster.me']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %title Alan Foster Belfast
  %body
    #topBar
    #mainDiv
      #menuArea
        = render 'layouts/navigation'

      #wrapper
        #leftContent
          #innerText
            = yield

        #rightContent
          = render 'layouts/right_content'

        #footer
          %span#createdBy Site created by
          %span#alan
            %a{:href => "http://www.alanfoster.me/"}
              Alan Foster
